
body {
    background-color: rgb(240, 245, 233); 
    
}


h1 {
    color: rgb(138, 41, 41);
    position: absolute;
    right: 550px;
}

.lista {
    background-color: rgb(161, 169, 238);
    padding: 20px 30px;
    border-radius: 50px;
    width: 320px;
    position: absolute;
    top: 680px;
    margin: 30px;
    
}

.links {
position: absolute;
margin: 20px;
background-color: rgb(149, 190, 177);
right: 610px;
top: 740px;
border-radius: 80px;
padding: 30px;
}

.softs {
    background-color: rgb(161, 169, 238);
    position: absolute;
    top: 500px;
    padding: 20px 30px;
    border-radius: 50px;
    width: 320px;
    margin: 30px;
}

.foto { 
    border-radius: 10%;
    margin: 15px 20px;
    width: 280px;
    float: left;
    position: absolute;
    top: 80px;
    margin: 50px;

}

.itens {
    font-family: monospace;
    text-decoration: dotted;
}

.alinha {
    background-color: rgb(149, 190, 177);
    position: absolute;
    right: 198px;
    top: 482px;
    padding: 20px 30px;
    border-radius: 80px;
    margin: 40px;
    
}

.cidade {
    text-decoration: underline;
    
}


.descrição {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 350px;
    top: 280px;
    margin: -20px;
    
}

.Nome {
    font-size: 15px;
    font-family: monospace;
    text-decoration: underline;
    color: rgb(60, 60, 158);
    position: absolute;
    top: 450px;
    margin: 25px 60px;
}

p:hover {
    background-color: aquamarine;
    border-radius: 200px;
}
