
body {
    background-color: rgb(212, 226, 190);    
}

h1 {
    color: rgb(136, 16, 16);


}

.lista {
    background-color: rgb(161, 169, 238);
    padding: 20px 30px;
    border-radius: 50px;
    width: 320px;
    position: absolute;
    top: 600px;
    
}

.softs {
    background-color: rgb(161, 169, 238);
    position: absolute;
    top: 450px;
}

.foto { 
    border-radius: 10%;
    margin: 15px 20px;
    width: 200px;
    float: left;


}

.itens {
    font-family: monospace;
    text-decoration: dotted;
}

.alinha {
    background-color: rgb(149, 190, 177);
    float: left;
    top: 1000px;
}

.cidade {
    text-decoration: underline;
    
}


.descrição {
    font-family: Arial, Helvetica, sans-serif;
    
}

#Nome {
    font-size: 15px;
    font-family: monospace;
    text-decoration: underline;
    color: rgb(60, 60, 158);
    
}